.wrapper{
    height: 100vh;
    width: 880px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* border: 1px solid black; */
}


@media only screen and (max-width: 360px) {
    .wrapper {
      width: 360px;
    }
  }
@media only screen and (max-width: 800px) {
    .wrapper {
      width: 800px;
    }
  }
@media only screen and (max-width: 600px) {
    .wrapper {
      width: 600px;
    }
  }